.banner {

    &--title {
        font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 300;
        color: #606c76;
        margin: 0;
        padding: 0;
    }

    &--description {
        margin-top: 10px;
        display: block;
        text-align: justify;
        color: #76838e;
    }

}
